[Desktop Entry]
Type=Application
Name=Videos
Name[de]=Videos
Name[es]=Vídeos
Name[fr]=Vidéos
Name[hi]=वीडियो
Name[pl]=Filmy
Name[pt_BR]=Vídeos
Name[ru]=Видео
Name[zh_CN]=视频
GenericName=Video Player
GenericName[de]=Videoplayer
GenericName[es]=Reproductor de vídeo
GenericName[fr]=Lecteur vidéo
GenericName[hi]=वीडियो प्लेयर
GenericName[pl]=Odtwarzacz filmów
GenericName[pt_BR]=Reprodutor de vídeo
GenericName[ru]=Видеопроигрыватель
GenericName[zh_CN]=视频播放器
Comment=Watch your films with a controller
Comment[de]=Sehen Sie Ihre Filme mit einem Controller
Comment[es]=Explore y reproduzca sus vídeos con un mando
Comment[fr]=Parcourez et lisez vos vidéos à la manette
Comment[hi]=कंट्रोलर से अपनी फ़िल्में देखें
Comment[pl]=Przeglądaj i odtwarzaj filmy za pomocą kontrolera
Comment[pt_BR]=Assista aos seus filmes com um controle
Comment[ru]=Смотрите свои фильмы с контроллера
Comment[zh_CN]=用手柄观看您的影片
Exec=videonsole %f
Icon=videonsole
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/x-m4v;video/x-matroska;video/webm;video/x-msvideo;video/quicktime;video/x-ms-wmv;video/x-flv;video/mpeg;video/ogg;video/3gpp;video/mp2t;application/vnd.rn-realmedia-vbr;
Keywords=video;videos;film;films;movie;movies;player;watch;cinema;lxb;
Keywords[de]=Video;Videos;Film;Filme;Player;Untertitel;Kino;lxb;
Keywords[es]=vídeo;vídeos;película;películas;reproductor;subtítulos;cine;lxb;
Keywords[fr]=film;films;vidéo;vidéos;lecteur;sous-titres;cinéma;lxb;
Keywords[hi]=वीडियो;फ़िल्म;फ़िल्में;प्लेयर;उपशीर्षक;सिनेमा;lxb;
Keywords[pl]=filmy;wideo;odtwarzacz;napisy;kino;lxb;
Keywords[pt_BR]=vídeo;vídeos;filme;filmes;reprodutor;legendas;cinema;lxb;
Keywords[ru]=видео;фильм;фильмы;проигрыватель;субтитры;кино;lxb;
Keywords[zh_CN]=视频;影片;电影;播放器;字幕;影院;lxb;
StartupNotify=true
StartupWMClass=videonsole
X-GNOME-SingleWindow=true
